html{
    height:80% !important;
    overflow:no-display !important;
}

body {
    background-color: palegreen;
    overflow: no-display !important;
    margin-left:2%;
}

.boton{
    border-radius: 15px;
    height: 30px;
    width:170px;
}

.boton:hover{
    background-color:antiquewhite;
}

.lista{
    border-radius: 15px;
    height : 30px;
    width: 300px;
}

.texbox {
    border-radius: 15px;
    height: 30px;
    width: 300px;
}

.texboxdesc {
    border-radius: 15px;
    width: 300px;
}

.principal {
    height:100% !important;
    margin-top: 5%;
    margin-left: 5%;
}

form {
    height:45%;
}


div#Principal {
    
}

input#IBRegresar0:checked ~ div#Principal {
    display: block;
}

input#IBEPagina:checked ~ div#Principal {
    display: none;
}

