html {
    width: 100% !important;
}

body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: palegreen;
    overflow: auto !important;
    margin: 0;
}

.texbox{
    border-radius: 15px;
}

h4 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

body {
    
}

